body {
    animation: slideIn 0.5s ease-in;
}
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
a {
    text-decoration: none;
    color: white;
}
.collapse {
    transition: height 0.5s ease, opacity 0.5s ease;
}
.collapsing {
    opacity: 1;
}
.modal.fade.slide-right .modal-dialog {
    transform: translateX(100%);
    transition: transform .3s ease-out;
}
.modal.show.slide-right .modal-dialog {
    transform: translateX(0);
}


